* {
  font-family: "Poppins", sans-serif;
}

:root {
  --text-default-light: #ff4545e0;
  --text-default: #ff4545c9;
  --text-default-100: #ff5b45;
  --background-default: #496d7e;
  --background-dark: #fae1b2;
}

body {
  background: url("bg9.jpg") no-repeat center center fixed;
  background-size: cover;
}

.navbar {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: sticky;
  z-index: 10;
  background: linear-gradient(to right, #3445a3, #a5988f);
  height: 60px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 2px 10px;
  transition: 1s;
}

.navbar.scrolled {
  background: rgba(250, 211, 138, 0.4);
  backdrop-filter: blur(18px);
  border-radius: 10px;
}

.navbar .title {
  font-size: larger;
  font-weight: 700;
  color: var(--text-default);
  transition: 0.8s;
}

.navbar .link-group {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.link-group a.link {
  color: var(--text-default);
  transition: 0.3s;
  text-decoration: none;
  border-radius: 5px;
  padding: 6px;
}

.link-group .link:hover {
  background: #ff9c73;
}

.hero {
  /* background: red; */
  height: 100vh;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  padding: 0 35px;
  margin-bottom: 20px;
}

.hero .container-hero {
  padding-right: 250px;
}

.hero .container-hero h3 {
  margin-block-end: 0px;
}

.hero .container-hero h1 {
  margin-block-start: 0px;
}

.hero .container-hero h1 span {
  color: var(--text-default-light);
}

.hero .container-hero .deksripsi {
  margin-right: 120px;
  text-align: start;
}

.hero .container-hero .button-items {
  display: flex;
  gap: 20px;
}

.hero .container-hero .button-items button {
  background: var(--text-default);
  color: #fae1b2;
  padding: 8px 12px;
  font-size: large;
  border-radius: 8px;
  border: 1px solid var(--background-default);
  transition: 0.3s;
}

.hero .container-hero .button-items button:hover {
  background: var(--text-default-100);
  transform: translateY(-4px);
}

.hero .container-img {
}

.hero .container-img img {
  width: 250px;
  height: max-content;
  animation: 3s boing-boing infinite ease-in-out;
}

@keyframes boing-boing {
  0% {
    scale: 1;
  }

  50% {
    scale: 0.96;
    translate: 0px -2px;
  }

  100% {
    scale: 1;
  }
}

.product-list,
.testimoni-box,
.about-box,
.map-warp {
  display: flex;
  flex-direction: column;
  background: var(--background-default);
  border-radius: 8px;
  margin: 10px auto;
  padding: 10px;
  max-width: 950px;
}

.product-list {
  display: flex;
}

.carousel {
  width: 90%;
  max-width: 950px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  /* background: var(); */
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
}

.carousel > h1.title {
  color: var(--text-default-100);
  font-size: 1.95rem;
  font-weight: 700;
  border-bottom: 2px solid var(--text-default);
  margin: 0 8px;
  padding-bottom: 8px;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  min-width: 100%;
  box-sizing: border-box;
  padding: 20px;
  /* text-align: center; */
}

.carousel-controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.carousel-controls button {
  background: rgba(255, 69, 69, 0.45);
  color: #fff;
  border: none;
  padding: 8px;
  cursor: pointer;
  border-radius: 12px;
  font-size: 18px;
  transition: background 0.3s;
}

.carousel-controls button:hover {
  background: rgba(255, 69, 69, 0.78);
}

.box-product {
  margin: 10px;
  padding: 10px;
  background: var(--background-default);
  border-radius: 12px;
}

.box-product img {
  width: 100%;
  height: 320px;
  -webkit-user-drag: none;
  border-radius: 8px;
  object-fit: cover;
}

.info-product {
  padding: 6px;
}

.info-product .title {
  color: var(--text-default-light);
  font-weight: 600;
  font-size: 1.25rem;
}

.info-product .deskripsi {
  font-weight: 300;
  color: var(--text-default);
  width: 95%;
  margin-bottom: 10px;
}

.pembayaran {
  display: flex;
  justify-content: space-between;
}

.harga {
  font-weight: 500;
  color: var(--text-default-100);
}

.harga span {
  font-style: italic;
}

.pembayaran .btn-bayar {
  background: var(--background-default);
  color: var(--text-default-100);
  transition: 0.35s;
  text-decoration: none;
  border: 1px solid;
  color: var(--text-default);
  border-radius: 5px;
  padding: 3px 30px;
  font-weight: 500;
}

.btn-bayar:hover {
  background: var(--text-default);
  color: var(--background-default);
}

.testimoni-box {
  background: var(--background-default);
}

.testimoni-box .title {
  color: var(--text-default-100);
  font-size: larger;
  font-weight: 700;
  border-bottom: 2px solid var(--text-default);
  padding-bottom: 8px;
}

.card-client {
  background: #f7d07a;
  /* background: #e6505046; */
  padding: 8px;
  border-radius: 6px;
  width: 65%;
  margin: 10px 20px;
  transition: 0.25s;
  box-shadow: 3px 5px rgba(129, 116, 115, 0.2);
}

.card-client:hover {
  box-shadow: 5px 8px rgba(255, 91, 69, 0.75);
  transform: translateY(-4px);
}

.card-client .profile {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.card-client .profile .user-info {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 1rem;
  color: var(--text-default-light);
}

.profile .user-info span {
  font-weight: 500;
  font-style: italic;
  font-size: 0.92rem;
  color: var(--text-default-light);
}

.card-client img {
  width: 50px;
  height: 50px;
  border-radius: 15px;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  user-select: none;
}

.card-client .deskripsi {
  font-size: 0.88rem;
  padding-left: 15px;
  /* color: rgba(10, 10, 10, 0. 8);
     */
  color: var(--text-default-light);
}

.card-client .deskripsi::before {
  content: '"';
  margin-right: 2px;
}

.card-client .deskripsi::after {
  content: '"';
  margin-left: 2px;
}

.map-warp {
}

.map-warp h1 {
  color: var(--text-default-100);
  font-size: larger;
  font-weight: 700;
  border-bottom: 2px solid var(--text-default);
  padding-bottom: 8px;
}

.map-warp iframe {
  margin: 0 auto;
  width: 80%;
  height: 350px;
  border: 2px solid var(--text-default);
  border-radius: 8px;
}

.about-box {
}

.about-box .title {
  color: var(--text-default-100);
  font-size: larger;
  font-weight: 700;
  border-bottom: 2px solid var(--text-default);
  padding-bottom: 2px;
  margin-bottom: 10px;
}

.about-box .item-warp {
  display: flex;
  gap: 10px;
}

.about-box .item-warp .img-container {
  display: flex;
  width: 50px;
  height: 50px;
  padding: 3px;
  background: var(--text-default);
  border-radius: 6px;
}

.about-box .item-warp .img-container img {
  width: 100%;
  user-select: none;
}

.contact-list {
  width: 85%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.contact-list .contact-item {
  text-decoration: none;
  padding: 5px;
  border-radius: 8px;
  border: 1px solid #ff5b45;
  color: var(--text-default);
  font-size: small;
  font-weight: 600;
}

.contact-item .contact-item:hover {
  background: var(--text-default);
  color: var(--background-default);
}

/* CSS PEMESANAN SAYA */

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  /* cursor: pointer; */
}

.card {
  background: var(--background-default);
  margin: 100px auto;
  width: 75%;
  max-width: 500px;
  height: 250px;
  padding: 12px;
  border-radius: 12px;
}

.card .card-title {
  color: var(--text-default-100);
  border-bottom: 2px solid var(--text-default);
  font-size: 22px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  padding-bottom: 4px;
  margin-bottom: 8px;
}

.card .card-title button {
  color: var(--text-default);
  background: var(--background-dark);
  font-size: large;
  border-radius: 6px;
  border: 0.5px solid var(--text-default);
  transition: 0.25s;
}

.card .card-title button:hover {
  border: 0.5px solid var(--background-dark);
}

.card .card-body {
  /* display: flex; */
}

.card .card-body .product {
  display: flex;
  margin-bottom: 8px;
}

.card .card-body .product img {
  border-radius: 7px;
  border: 2px solid rgba(255, 71, 71, 0.5);
  width: 120px;
}

.card .card-body .product .information {
  transition: 0.7s;
  padding-left: 8px;
}

.card .card-body .product .information .title {
  font-weight: 700;
  color: var(--text-default-light);
}

.card .card-body .product .information .deksripsi {
  font-weight: 500;
  font-size: small;
  color: var(--text-default-light);
}

.card .card-body .product .information .deksripsi .comment {
  font-size: x-small;
  font-weight: 600;
}

.card .card-body .product .information .deksripsi .comment:before {
  content: "*";
  color: #0c0c0c;
  font-size: x-small;
  font-weight: 600;
}

.card .card-body .payment-user {
  display: flex;
  /* display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 0.3fr 0.8fr; */
  /* background: red; */
}

.card .card-body .payment-user .payment-info {
  /* order: 1; */
}

.card .card-body .payment-user .payment-info .title {
  font-size: smaller;
  font-weight: 600;
  color: var(--text-default-light);
}

.card .card-body .payment-user .payment-info input[type="text"] {
  width: 60%;
  margin-top: 4px;
  border-radius: 5px;
  background: var(--background-dark);
  border: 2px var(--text-default-100) solid;
  outline: none;
  transition: 0.25s;
  color: red;
}

.card .card-body .payment-user .payment-info input[type="text"]:focus {
  border: 2px rgba(255, 71, 71, 0.5) solid;
}

.card .card-body .payment-user .payment-send {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 8px;
}

.card .card-body .payment-user .payment-send .counting {
  display: flex;
  justify-content: space-around;
}

.card .card-body .payment-user .payment-send .counting button {
  color: var(--text-default);
  background: var(--background-dark);
  font-weight: 700;
  cursor: pointer;
  border-radius: 4px;
  border: 1.5px solid var(--text-default);
}

.card .card-body .payment-user .payment-send .counting .count {
  font-size: medium;
  font-weight: 700;
  color: var(--text-default);
}

.card .card-body .payment-user .payment-send .btn-send {
  font-weight: 500;
  border-radius: 8px;
  border: 2px solid #128c7e;
  background: #dcf8c6;
  color: #075e54;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: var(--text-default-light);
  border-radius: 3px;
}

@media only screen and (max-width: 728px) {
  .navbar .title {
    font-size: medium;
  }

  .hero {
    flex-direction: column;
  }

  .box-product img {
    width: 100%;
    -webkit-user-drag: none;
    border-radius: 8px;
    object-fit: fill;
  }

  .card .card-body .product .information .title {
    font-weight: 600;
    color: var(--text-default-light);
  }

  .card .card-body .product .information .deksripsi {
    font-weight: 400;
    font-size: small;
    color: var(--text-default-light);
  }

  .hero .container-img img {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .card {
    height: 320px;
  }

  .hero .container-hero {
    padding-right: 0px;
  }

  .contact-list {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 769px) {
  .hero .container-hero h1 {
    font-size: 3.2rem;
  }

  .hero .container-hero h3 {
    font-size: 2rem;
  }

  .hero .container-hero p {
    font-size: 20px;
  }
}
